body{
    color: white;
    background-color: black;
    height: 4922;
    font-family: 'inter';
    font-style: normal;
    
    
    }
    header{
        display: flex;
        align-items: center;
        margin: 40px 20px;
        padding-bottom: 70px;

    }
    .img img{
width: 1336px;
height: 752px;
object-fit: cover;
object-position: 50%;
    }

    
